*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: auto;
	animation: move 10s infinite linear;
	background: #16193B

}

img {
	max-height: 200px;
	max-width: 200px;
}

.moon {
	margin-top: 50px;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	background-color: #B8B8B8;
}

.movemoon {
	position: relative;
	top: 100vh;
	animation: moon 10s infinite linear;
}

@keyframes move {
	0%{
		background: #16193B;
	}

	20% {
		background: #35478C;
	}

	40% {
		background: #4E7AC7;
	}

	60% {
		background: #7FB2F0;
	}

	80% {
		background: #ADD5F7;
	}

	99%{
		background: #16193B;
		
	}
}

@keyframes moon {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}